<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/684d76c3-4d17-4ab0-b1ad-270537c7211d/resourceGroups/honeyshop_group/providers/Microsoft.Web/sites/honeyshop</ResourceId>
    <ResourceGroup>honeyshop_group</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://honeyshop-ebbbgcdxcmgre5ef.northeurope-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>25bbada6-cb4c-4b47-a522-ec68aba58a63</ProjectGuid>
    <MSDeployServiceURL>honeyshop-ebbbgcdxcmgre5ef.scm.northeurope-01.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>honeyshop</DeployIisAppPath>
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>REDACTED</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <TargetFramework>net8.0</TargetFramework>
    <SelfContained>false</SelfContained>
    <EncryptedPassword>AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAl0tix9k8xEWnjiLMkD8dlwAAAAACAAAAAAAQZgAAAAEAACAAAACPVlIT9gXPlrE/wDRaWlJmLRXTINBOxyme1bHNLo2ZVAAAAAAOgAAAAAIAACAAAAA/Dh3ZOaRzH9Lg+6V7SVHWFu+L0SnABA5HFai9O8bfEiAAAAABLVx9MQZDG5x2zmgQpZaxFS9wx9TNyQRRWfjTmnmiTUAAAADdi8l/EjQW8F8qx/s+MzLxz8gwl/tpDX9xNqv3DSZSnPhW7msQNiTINRb0SjSr3kIsooD/NcNKyUFe8CbB8hXx</EncryptedPassword>
    <EnvironmentSubType>AppServicePublishProfileVisual</EnvironmentSubType>
    <_PublishBasicAuthDisabled>true</_PublishBasicAuthDisabled>
    <RemoteSitePhysicalPath />
  </PropertyGroup>
</Project>